.header {
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  .logo {
    background-color: black;
    color: white;
    font-size: 30px;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
  }
  .board-selector-link,
  .theme-selector-link {
    background-color: rgb(51, 51, 51);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-size: 12px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .board-selector,
  .theme-selector {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    padding: 20px;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.582);
    .board-selector-inner,
    .theme-selector-inner {
      width: 50%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, 0.89);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      border-radius: 3px;

      @media screen and (max-width: 800px) {
        width: 100%;
      }

      .board-selector-inner-close,
      .theme-selector-inner-close {
        text-align: center;
        a {
          font-size: 24px;
          color: white;
          text-decoration: none;
          transition: all 0.3s;
        }
        a:hover {
          color: #999;
        }
      }
      .board-selector-inner-boards,
      .theme-selector-inner-themes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px 0;
        a {
          padding: 20px;
          background-color: white;
          text-align: center;
          border-radius: 3px;
          text-decoration: none;
          color: #333;
          transition: all 0.5s;
        }
        a:hover {
          background-color: crimson;
        }
        .theme {
          padding: 50px 20px;
          background-color: white;
          text-align: center;
          border-radius: 3px;
          text-decoration: none;
          color: #333;
          transition: all 0.5s;
          cursor: pointer;
        }
        .theme:hover {
          filter: grayscale(1);
        }
        .theme-selector-inner-themes-seasons {
          background-image: url('../../../resources/theme-backgrounds/seasons.jpg');
          background-size: cover;
          background-position: center;
        }
        .theme-selector-inner-themes-aqua {
          background-image: url('../../../resources/theme-backgrounds/aqua.jpg');
          background-size: cover;
          background-position: center;
        }
        .theme-selector-inner-themes-nature {
          background-image: url('../../../resources/theme-backgrounds/nature.jpg');
          background-size: cover;
          background-position: center;
        }
      }
      .board-selector-inner-custom-board {
        .board-selector-inner-custom-board-title {
          text-align: center;
          color: white;
          margin-bottom: 10px;
          font-size: 18px;
        }
      }
    }
  }

  .hide {
    display: none;
  }
}
